* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
nav {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 3%;
}
ul {
  width: 100%;
  margin: 1%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
li {
  margin: 0 2% 2% 2%;
}
a {
  text-decoration: none;
  color: black;
}
.logo {
  margin: 0 auto 2% 6%;
}

section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.first-div {
  width: 50%;
  padding: 7%;
}
.second-div {
  width: 50%;
  padding: 3%;
}
.header {
  margin: 3%;
  margin-left: 0;
}
.text {
  margin: 2%;
  margin-left: 0;
}
input {
  padding: 4px;
  width: 60%;
  height: 40px;
}
button {
  width: 30%;
  height: 40px;
  padding: 5px;
  background-color: #2f66f9;
  color: white;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  cursor:pointer;
}
#curve {
  width: 100%;
}
#second-section {
  background-color: #f9f8fe;
  margin-top: -4px;
}
#avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#info {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
#card {
  width: 70%;
  background-color: white;
  padding: 4%;
  margin-top: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
#card-img {
  border-radius: 50%;
  width: 15%;
}
#arrow {
  color: green;
  text-decoration-color: green;
  text-decoration: underline;
}
#third-section {
  background-color: #575989;
  color: whitesmoke;
  display: flex;
}
#get-started {
  margin-top: 11%;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
}
#forth-section {
  background-color: #07043b;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 4% 0 5% 0;
}
#contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 5%;
}
.icon {
  margin: 0 3% -0.5% 0;
}
.forth-items {
  display: flex;
  flex-direction: column;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.forth-items > li > a {
  color: whitesmoke;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  section {
    flex-direction: column-reverse;
  }
  .header {
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .form > button {
    margin-top: 3%;
    width: inherit;
  }
  .form > input {
    width: inherit;
  }
  .logo {
    width: 25%;
  }
  #third-section {
    flex-direction: column;
  }
  #card {
    margin: 12% auto 7% auto;
  }
  #get-started {
    margin-top: 0;
    margin-bottom: 6%;
  }
  #get-started > input,
  button {
    width: inherit;
  }
  #second-botton {
    margin-top: 2%;
  }
  .first-div,
  .second-div {
    width: 100%;
  }
  #contacts {
    flex-direction: column;
  }
  .forth-items {
    margin-top: 5%;
  }
  .social-media {
    justify-content: center;
  }
}
